<div ng-controller="Football">
<p>{{data[0].name}}</p></br> 
<input type="checkbox" ng-model="showGames" ng-init="showGames=true"> show games 
<input type="checkbox" ng-model="showPlayers" ng-init="showPlayers=true"> show players 

<table class="table  table-striped" ng-show="showPlayers">
<tr>
<th>Name</th> 
<th >Last Name</th>
<th >Country</th> 

</tr>
<tr ng-repeat="x in data[0].players">
  <td>{{x.name}}</td>
   <td>{{x.lastName}}</td>
   <td>{{x.country}}</td>
</tr>
</table></br>

<table class="table  table-striped" ng-show="showGames">		
<tr>
<th >Date</th> 
<th>Home Team</th> 
<th>GG</th> 
<th>GG</th> 
<th>Guest Team</th> 
<th>refreeName</th>
</tr>
<tr ng-repeat="x in data[0].games">
   <td>{{x.date | date:"yyyy-MM-dd HH:mm"}}</td>
   <td ng-class="{bold:x.homegoals>x.guestgoals}">{{x.home.name}}</td>
   <td ng-class="{bold:x.homegoals>x.guestgoals}">{{x.homegoals}}</td>
   <td ng-class="{bold:x.homegoals<x.guestgoals}">{{x.guestgoals}}</td>
   <td ng-class="{bold:x.homegoals<x.guestgoals}">{{x.guest.name}}</td>
   <td>{{x.refree.name+" "+x.refree.lastName}}</td>
</tr>
</table>

</div>