<div ng-controller="Football">
  <table class="savePlayer">
			<tr>
				<td>Name</td>
				<td><input type="text" ng-readonly="true" ng-model="New.name" /></td>
				<td style="color: red;" ng-show="showError">{{error.name}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" ng-readonly="true" ng-model="New.lastName" /></td>
				<td style="color: red;" ng-show="showError">{{error.lastName}}</td>
			</tr>
			<tr>
				<td>Country</td>
				<td><input type="text" ng-readonly="true" ng-model="New.country"></td>
				<td style="color: red;" ng-show="showError">{{error.country}}</td>
			</tr>
			<tr>
				<td>Club</td>
				<td><select ng-model="New.club.name"
					ng-options="a for a in allTeams"></select></td>
			</tr>
		</table></br></br>
		<p style="color: red;">{{error}}</p>
		<button type="buttom" class="btn btn-primary" ng-click="patch({'clubName':New.club.name})">Confirm</button>
		<button type="button" class="btn btn-light" ng-click="goBack()">Cancel</button>
  
</div>