<div ng-controller="Football">

<div id="filter" ng-show="url.indexOf('players')>-1">

Search <input ng-model="search" ng-keyup="filterDataByName()" placeholder="search">
    <select  ng-model="teamName" ng-init="teamName='all'" 
    ng-options="a for a in allTeams.add('all')" ng-click="filterPlayersByTeam()"></select>
	<select ng-model="country" ng-options="a for a in countries" ng-init="country='all'" ng-change="changeCountry()"></select>
	</br></br>
	<table class="table  table-striped">
<tr>
<th ng-click="sort('name')">Name</th> 
<th ng-click="sort('lastName')">Last Name</th>
<th ng-click="sort('country')">Country</th> 
<th ng-click="sort('clubname')">Club</th>
<th><a href="./#!/players/save" >Create Player</a></th>
</tr>
<tr ng-repeat="x in data">
  <td>{{x.name}}</td>
   <td>{{x.lastName}}</td>
   <td>{{x.country}}</td>
   <td>{{x.club?x.club.name:"Free"}}</td>
   <td><button type="button" class="btn btn-light btn-sm"> <a href="./#!/players/update/{{x.id}}" >Update</a></button> 
   <button type="button" class="btn btn-light btn-sm"> <a href="./#!/players/createTransfer/{{x.id}}" >Transfer</a></button> 
   <button class="btn btn-danger btn-sm" ng-click="del(x.id)">Delete</button>  </td>
</tr>
</table>
</div>


<div ng-show="url.indexOf('Transfers')>-1">
<h4>Transfer List</h4>
<table class="table  table-striped" >
<tr>
<th>Date</th>
<th >Name</th> 
<th>From </th> 
<th>To</th>
</tr>
<tr ng-repeat="x in data">
  <td>{{x.date | date:"yyyy-MM-dd"}}</td>
   <td>{{x.playerName}}</td>
   <td>{{x.sailer}}</td>
   <td>{{x.buyer}}</td>
</tr>
</table>
</br>
</div>

<div ng-show="url.indexOf('Coachs')>-1">
<h4>Coachs</h4>
<table class="table  table-striped" >
<tr>
<th ng-repeat="(k,v) in data[0]">{{k}}</th>
</tr>
<tr ng-repeat="x in data">
  <td ng-repeat="(k,v) in x">{{x[k]}}</td>  
</tr>
</table>
</br>
</div>



<table class="table table-striped" ng-show="url.indexOf('Refree')>-1">
<tr>
<th ng-click="sort('name')">Name</th> 
<th ng-click="sort('lastName')">Last Name</th>
<th ng-click="sort('townName')">From</th> 
<th><a href="./#!/Refree/save" >Create</a></th>
</tr>
<tr ng-repeat="x in data">
   <td>{{x.name}}</td>
   <td>{{x.lastName}}</td>
   <td>{{x.townName}}</td>
   <td><button type="button" class="btn btn-light btn-sm" ng-click="showUpdate(1)">
   <a href="./#!/Refree/update/{{x.id}}" >Update</a></button> 
   <button class="btn btn-danger btn-sm" ng-click="del(x.id)">Delete</button>  </td>
</tr>
</table>

<center>
<button ng-click="back()"  type="button" class="btn btn-secondary" ng-disabled="page==0" ng-show="totalPages>1"><</button>
  <button ng-repeat="a in [].create(totalPages)" ng-click="goToPage($index)"  type="button" class="btn btn-primary" ng-class={act:page==$index}>{{a}}</button>
  <button ng-click="next()"  type="button" class="btn btn-secondary" ng-disabled="totalPages==page+1" ng-show="totalPages>1">></button>
</div>
</center>
</div>