<div ng-controller="Football">
 
    
	<div id="ovoMenu">
	
	<input type="date" ng-model="gameDate" ng-change="filterDataByDate()"> 
	Games per page<select ng-model="userPerPage" ng-options="a for a in [10,15,20]" 
	ng-change="nupp()" ng-init="userPerPage=20"></select>  
	Seacrh by Team <select ng-options="a for a in allTeams.add('all')" ng-model="allTeamsSelect" 
    ng-init="allTeamsSelect='all'" ng-click="filterPlayersByTeam()"></select></br></br>
	</div>
	
<button ng-repeat="a in [0,1,2]"> <a href="./#!/Games/season/{{2017+a}}">season {{2017+a}}</a></button></br></br>
<table class="table  table-striped">		
<tr>
<th >Date</th> 
<th>Home Team</th> 
<th>GG</th> 
<th>GG</th> 
<th>Guest Team</th> 
<th>Refree Name</th>
<th><a href="./#!/Games/save" >Create Game</a></th>
</tr>
<tr ng-repeat="x in data">
   <td>{{x.date | date:"dd/MM/yyyy HH:mm"}}</td>
   <td ng-class="{bold:x.homegoals>x.guestgoals}">{{x.home.name}}</td>
   <td ng-class="{bold:x.homegoals>x.guestgoals}">{{x.homegoals}}</td>
   <td ng-class="{bold:x.homegoals<x.guestgoals}">{{x.guestgoals}}</td>
   <td ng-class="{bold:x.homegoals<x.guestgoals}">{{x.guest.name}}</td>
   <td>{{x.refree?x.refree.name+" "+x.refree.lastName:"No refree"}}</td>
   <td><button type="button" class="btn btn-light btn-sm"> <a href="./#!/Games/update/{{x.id}}" >Update</a></button></td>
</tr>
</table>



</br></br>
<center>
		<button ng-click="back()"  type="button" class="btn btn-secondary" ng-disabled="page==0" ng-show="totalPages>1"><</button>
  <button ng-repeat="a in [].create(totalPages)" ng-click="goToPage($index)" 
   type="button" class="btn btn-primary" ng-class={act:page==$index}>{{a}}</button>
  <button ng-click="next()"  type="button" class="btn btn-secondary" ng-disabled="totalPages==page+1" ng-show="totalPages>1">></button>
	</div>
	</center>
</div>


