<div ng-controller="Football">
  <div class="col-lg-9 col-md-7 col-sm-8 col-xs-12">
<button ng-repeat="a in [0,1,2]"> <a href="./#!/Teams/season/{{2017+a}}">season {{2017+a}}</a></button></br></br>
<table class="table table-striped">
<tr>
<th>#</th>
<th>Name</th> 
<th>GP</th> 
<th>Points</th>
<th>GS</th> 
<th>GR</th> 
<th>GD</th>
</tr>
<tr ng-repeat="x in data">
  <td>{{x[0]}}</td>
  <td ><a href="./#!/jedanKlub/{{x[2]}}">{{x[2]}}</a></td>
  <td>{{x[3]}}</td>
   <td>{{x[4]}}</td>
   <td>{{x[5]}}</td>
   <td>{{x[6]}}</td>
   <td>{{x[7]}}</td>
</tr>
</table>
</div>
</div>