<div ng-controller="Football">


	<center>

		<table class="savePlayer" ng-show="url.indexOf('players')>-1">
			<tr>
				<td>Name</td>
				<td><input type="text" ng-model="New.name" /></td>
				<td style="color: red;" ng-show="showError">{{error.name}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" ng-model="New.lastName" /></td>
				<td style="color: red;" ng-show="showError">{{error.lastName}}</td>
			</tr>
			<tr>
				<td>Country</td>
				<td><input type="text" ng-model="New.country"></td>
				<td style="color: red;" ng-show="showError">{{error.country}}</td>
			</tr>
			<tr ng-show="!isUpdate">
				<td>UserName</td>
				<td><input type="text" ng-model="New.userName"></td>
				<td style="color: red;" ng-show="showError">{{error.userName}}</td>
			</tr>
			<tr ng-show="!isUpdate">
				<td>Password</td>
				<td><input type="password" ng-model="New.password"></td>
				<td style="color: red;" ng-show="showError">{{error.password}}</td>
			</tr>
			<tr ng-show="!isUpdate">
				<td>Club</td>
				<td><select ng-model="New.club.name"
					ng-options="a=='all' || !a?'free player':a for a in allTeams"></select></td>
			</tr>
		</table>

		<table class="savePlayer" ng-show="url.indexOf('Refree')>-1">
			<tr>
				<td>Name</td>
				<td><input type="text" ng-model="New.name"></td>
				<td style="color: red;" ng-show="showError">{{error.name}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" ng-model="New.lastName" /></td>
				<td style="color: red;" ng-show="showError">{{error.lastName}}</td>
			</tr>
			<tr>
				<td>Town</td>
				<td><input type="text" ng-model="New.townName"></td>
				<td style="color: red;" ng-show="showError">{{error.townName}}</td>
			</tr>
		</table>

		<table class="savePlayer"
			ng-show="url.indexOf('Games')>-1 && isUpdate">
			<tr>
				<td>{{New.home.name}}</td>
				<td><input type="number" min=0 ng-model="New.homegoals"></td>
			</tr>
			<tr>
				<td>{{New.guest.name}}</td>
				<td><input type="number" min=0 ng-model="New.guestgoals"></td>
			</tr>
		</table>

		<form name="myForm">
			<table class="savePlayer"
				ng-show="url.indexOf('Games')>-1 && !isUpdate">
				<tr>
					<td>Home</td>
					<td><select ng-model="New.home.name" ng-options="a for a in allTeams" /required></select></td>				
				    <td style="color: red;" ng-show="showError && !New.home.name">required</td>
				</tr>
				<tr>
					<td>Guest</td>
					<td><select ng-model="New.guest.name" ng-options="a  for a in allTeams" /required></select></td>
					<td style="color: red;" ng-show="showError && !New.guest.name">required</td>
				</tr>
				<tr>
					<td>Date</td>
					<td><input type="date" ng-model="datum" /required></td>
					<td style="color: red;" ng-show="showError && !datum">required</td>
				
				</tr>
				<tr>
					<td>Time</td>
					<td><input type="time" ng-model="vreme" /required></td>
					<td style="color: red;" ng-show="showError && !vreme">required</td>
				</tr>
				<tr>
					<td>Refree</td>
					<td><select ng-model="New.refree.lastName" ng-options="a for a in refrees" /required></select></td>
					<td style="color: red;" ng-show="showError && !New.refree.lastName">required</td>
				</tr>
			</table>
		</form>

		<div style="color: red;" ><p ng-show="!isUpdate">{{error.FORBIDDEN}}</p>
		<p ng-show="isUpdate">{{error}}<p><p ng-show="isUpdate">{{error.FORBIDDEN}}<p></div>
			</br>
			</br>
			<button type="buttom" class="btn btn-primary" ng-click="edit()"
				ng-show="isUpdate">Update</button>
			<button type="buttom" class="btn btn-primary" ng-click="save()"
				ng-show="!isUpdate">Save</button>
			<button type="button" class="btn btn-light" ng-click="goBack()">Cancel</button>
	
	</center>



</div>